/*
  React Hue sytle css
  Author:   Zhuo Jia
  Version:  1.0
  Time:     2016
*/

/*========NavBar===========*/
.navbar-custome{
  background: #2C79F4;
  height: 50px;
  font-size: 23px;
  color: white;
}

.navbar-brand{
  font-size: 22px !important;
}
.nav .navbar-nav a{
  font-size: 18px !important;
  color: white;
}

/*========Footer===========*/
.footerSection{
  background: #000021;
  width: 100%;
  height: 100px;
  color: #ffffff;
  padding-left: 45%;
  padding-top: 10px;
}

/*========Platte===========*/
.plateApp{
  width: 100%;
}
.plate {
  height: 100vh;
  width: 100%;
  padding: 0;
}

.plate .inputSection {
  width: 50%;
  margin-left: 25%;
  padding-top: 200px;
}

#hexInput, #rgbInput {
  background: transparent;
  border: 0;
  border-bottom: 1px solid rgba(34, 34, 34, .3);
  font-size: 3em;
  padding: 0;
  padding-bottom: 1px;
  margin: .5em 0 .25em;
  width: 100%;
  -webkit-transition: border-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
          transition: border-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
#hexInput:focus, #rgbInput:focus {
  border-width: 2px;
  border-color: rgba(34, 34, 34, .9);
  padding: 0;
  outline: 0;
}
